* {
    margin: 0;
	background-color: black;
    overflow: hidden;
}

#first {
	position: absolute;
	width: 100%;
	height: 100%;	
}

#curtain {
    position: relative;
    width: 1920px;
    height: 100vh;
    z-index: 1;
}

#curtain:hover {
    margin-top: -5vh;
}

#second {
	width: 100%;
	height: 100vh;
	text-align: center;
}

#lamp {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    margin-top: 20px;
 }

#light {
	opacity: 0;
	width: 100px;
    position: absolute;
    left: calc(50% - 550px);
    top: 88px;
	z-index: 3;
    border-bottom: 800px solid yellow;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    pointer-events: none;
}

#magician {
    opacity: 0;
    position: absolute;
    left: calc(50% - 400px);
    top: 500px;
	transform: scale(0.8);
}

#hat {
    opacity: 0;
    position: absolute;
    left: calc(50% + 50px);
    top: 650px;
    height: 130px;
	z-index: 2;
    transform: rotateX(180deg);
}

#rabbit {
    opacity: 0;
    width: 75px;
    position: absolute;
    top: 550px;
    left: calc(50% + 100px);
}

#dove {
    opacity: 0;
    width: 65px;
    position: absolute;
    top: 650px;
    left: calc(50% + 100px);
}